<!-- your html code here -->
<!--Migue García Bello-->
<div class="row p-2 d-flex align-items-center">
    <div class="col-lg-9 col-md-6 col-sm-12 order-md-1 order-sm-2">
        <h2 class="text-primary">Su salud, nuestra prioridad</h2>
        <h3 class="text-info">Cada animal es único:</h3>
        <p>Nuestro experimentado equipo está compuesto por profesionales con una profunda trayectoria
            en las diversas especialidades de la medicina veterinaria. Nuestro compromiso inquebrantable es con su
            bienestar.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 order-md-2 order-sm-1 d-flex justify-content-center p-2">
        <div class="ratio ratio-1x1 w-75">
            <img class="rounded-circle border border-3 border-info" 
                src="https://content.elmueble.com/medio/2022/09/08/gato-sin-pelo_00000000_230405095919_900x900.jpg"
                alt="Gato_Persa.jpg">
        </div>
    </div>
</div>