<!-- your html code here -->
<!--Migue García Bello-->
<div class="row bg-white">
    <div class="col-8">
        <h2>Su salud, nuestra prioridad</h2>
        <p>Entendemos que cada animal es especial, por lo que diseñamos un servicio completamente personalizado a sus
            requerimientos. Nuestro experimentado equipo está compuesto por profesionales con una profunda trayectoria
            en las diversas especialidades de la medicina veterinaria. Nuestro compromiso inquebrantable es con su
            bienestar.</p>
    </div>
    <div class="col-4">
        <div class=" w-100 rounded-circle border-3">
             <img src="https://cdn.wamiz.fr/cdn-cgi/image/format=auto,quality=80,width=720,height=405,fit=cover/animal/breed/cat/adult/676d5a51d1f40103732431.jpg"
            alt="Gato_Persa.jpg" class=" mw-100 rounded-circle ratio-1x1">
        </div>
    </div>
</div>