<footer class="bg-dark text-white">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center p-1">
            <p><i class="fa-regular fa-copyright"></i> Copyright  Estudiantes: <a href="https://4geeksacademy.slack.com/team/U0940HZJE00"
                    class="text-white link-offset-2 link-underline link-underline-opacity-0" style="cursor:pointer;">Santiago</a>, <a href="https://4geeksacademy.slack.com/team/U09J7SUP9U5"
                    class="text-white link-offset-2 link-underline link-underline-opacity-0" style="cursor:pointer;">Aneth</a>, <a href="https://4geeksacademy.slack.com/team/U0985A80P24"
                    class="text-white link-offset-2 link-underline link-underline-opacity-0" style="cursor:pointer;">Migue</a> y
                <a href="https://4geeksacademy.slack.com/team/U09D5M5CW2J"
                    class="text-white link-offset-2 link-underline link-underline-opacity-0" style="cursor:pointer;">Juan</a> presentan su
                proyecto colaborativo
            </p>
        </div>
    </div>
</footer>