<!-- your html code here -->
<nav class="navbar navbar-expand-lg bg-primary z-3 p-0" style="height: 50px">
  <div class="container-fluid p-0">
    <a class="navbar-brand text-white" href="#"><i class="fa-solid fa-paw"></i></a>
    <button class="navbar-toggler border border-0 " type=" button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse z-3 p-2 bg-primary" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link active text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item m-0">
          <a class="nav-link active text-white rounded bg-danger m-0" aria-current="page" href="#">Clínica 24H</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Urgencias</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Clinicas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Aquí</a></li>
            <li><a class="dropdown-item" href="#">Allá</a></li>
            <li><a class="dropdown-item" href="#">La via te guía</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Esterilización</a></li>
            <li><a class="dropdown-item" href="#">Hospitalización</a></li>
            <li><a class="dropdown-item" href="#">Exorcismo</a></li>
            <li><a class="dropdown-item" href="#">Lectura de patas + recortado de garras</a></li>
            <li><a class="dropdown-item" href="#">Matchmaking</a></li>
            <li><a class="dropdown-item" href="#">Fisioterapia</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Planes de Salud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Citas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>