<!--Comienzo del Portfolio adicional-->
<div class="container d-flex justify-content-center">
    <h2 class="bg-info  rounded-2 text-white p-3">
        <i class="fa-solid fa-calendar-days"></i>
        Pide tu cita online
    </h2>
</div>


<div class="container p-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-around">
            <div class="card bg-secondary-subtle" style="width:25rem;">
                <h3 class="text-center mt-2 text-danger border-bottom border-2 border-primary mx-4">El Puerto</h3>
                <div class="card-body">
                    <!--Direccion y mapa-->
                    <div class="d-flex justify-content-center align-items-center gap-2 p-0">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-2 p-2">
                            <h4 class="fs-5 text-info">Dirección:</h4>
                            <p class="text-primary fw-bolder">C/ Cualquiera 123</p>
                        </div>
                        <div class="d-flex align-items-center flex-column rounded-3 p-2 bg-info ">
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-primary"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7"><i
                                    class="fa-solid fa-location-dot fs-2"></i></a>
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-white"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7" target="_blank">Ver
                                mapa</a>
                        </div>
                    </div>
                    <!--Horario modal!-->
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Horario</h4>
                        <button type="button" class="btn btn-danger p-1" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Consultar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h1 class="modal-title fs-5 text-center text-white" id="staticBackdropLabel">
                                            Horario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Lunes a Domingo</p>
                                        <p>7:00h a 0:00h</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Contacto-->
                    <div class="d-flex justify-content-center align-items-center flex-column gap-2 p-0 mt-3">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Contacto</h4>
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <p class="m-0 text-info fw-bolder">HOSPITAL: <span class="text-primary">(555)-555-555</span>
                            </p>
                            <p class="m-0 text-info fw-bolder">Cita previa: <span
                                    class="text-primary">(555)-555-555</span></p>
                        </div>
                        <!--Dirección-->
                        <p class="text-primary fs-5 text-center">Cuatro Gatos Hospital Veterinario 24/7 en El Puerto de
                            Santa María</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-around">
            <div class="card bg-secondary-subtle" style="width:25rem;">
                <h3 class="text-center mt-2 text-danger border-bottom border-2 border-primary mx-4">Chiclana</h3>
                <div class="card-body">
                    <!--Direccion y mapa-->
                    <div class="d-flex justify-content-center align-items-center gap-2 p-0">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-2 p-2">
                            <h4 class="fs-5 text-info">Dirección:</h4>
                            <p class="text-primary fw-bolder">C/ Cualquiera 123</p>
                        </div>
                        <div class="d-flex align-items-center flex-column rounded-3 p-2 bg-info ">
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-primary"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7"><i
                                    class="fa-solid fa-location-dot fs-2"></i></a>
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-white"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7" target="_blank">Ver
                                mapa</a>
                        </div>
                    </div>
                    <!--Horario modal!-->
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Horario</h4>
                        <button type="button" class="btn btn-danger p-1" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Consultar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h1 class="modal-title fs-5 text-center text-white" id="staticBackdropLabel">
                                            Horario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Lunes a Domingo</p>
                                        <p>7:00h a 0:00h</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Contacto-->
                    <div class="d-flex justify-content-center align-items-center flex-column gap-2 p-0 mt-3">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Contacto</h4>
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <p class="m-0 text-info fw-bolder">HOSPITAL: <span class="text-primary">(555)-555-555</span>
                            </p>
                            <p class="m-0 text-info fw-bolder">Cita previa: <span
                                    class="text-primary">(555)-555-555</span></p>
                        </div>
                        <!--Dirección-->
                        <p class="text-primary fs-5 text-center">Cuatro Gatos Hospital Veterinario 24/7 en Chiclana de
                            la Frontera</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 d-flex justify-content-around">
            <div class="card bg-secondary-subtle" style="width:25rem;">
                <h3 class="text-center mt-2 text-danger border-bottom border-2 border-primary mx-4">Jerez de la Frontera
                </h3>
                <div class="card-body">
                    <!--Direccion y mapa-->
                    <div class="d-flex justify-content-center align-items-center gap-2 p-0">
                        <div class="d-flex justify-content-center align-items-center flex-column mt-2 p-2">
                            <h4 class="fs-5 text-info">Dirección:</h4>
                            <p class="text-primary fw-bolder">C/ Cualquiera 123</p>
                        </div>
                        <div class="d-flex align-items-center flex-column rounded-3 p-2 bg-info ">
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-primary"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7"><i
                                    class="fa-solid fa-location-dot fs-2"></i></a>
                            <a class="link-offset-2 link-underline link-underline-opacity-0 text-white"
                                href="https://maps.app.goo.gl/aSaiNXdfRU3gCGKw7" target="_blank">Ver
                                mapa</a>
                        </div>
                    </div>
                    <!--Horario modal!-->
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Horario</h4>
                        <button type="button" class="btn btn-danger p-1" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Consultar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h1 class="modal-title fs-5 text-center text-white" id="staticBackdropLabel">
                                            Horario de urgencias</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Lunes a Domingo</p>
                                        <p>24 horas, con espera en sala especializada</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Contacto-->
                    <div class="d-flex justify-content-center align-items-center flex-column gap-2 p-0 mt-3">
                        <h4 class="fs-5 text-info mb-3 border-bottom border-2 border-primary">Contacto</h4>
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <p class="m-0 text-info fw-bolder">HOSPITAL: <span class="text-primary">(555)-555-555</span>
                            </p>
                            <p class="m-0 text-info fw-bolder">Cita previa: <span
                                    class="text-primary">(555)-555-555</span></p>
                        </div>
                        <!--Dirección-->
                        <p class="text-primary fs-5 text-center">Cuatro Gatos Hospital Veterinario 24/7 en Jerez de la
                            Frontera</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>