<div class="container mt-5">
        <div class="bg-primary text-light p-1 rounded d-flex justify-content-center m-2 ">
                <h2>Hospital Veterinario: Urgencias 24h, Consultas y Tienda</h2>
        </div>

        <div class="container row d-flex justify-content-around p-0 mt-4">
                <div class="card text-center mb-3 bg-primary col-3 border border-0" style="width: 18rem;">
                        <div class="card-body">
                                <h5 class="card-title text-light p-1 border-bottom border-2 border-danger">Hospital Veterinario</h5>
                                <h6 class="text-light">24 / 365 días</h6>
                                <p class="card-text text-light">Servicio presencial con hospitalización</p>
                                <a href="#" class="btn btn-info text-light btn-grow mt-4"><i class="fa-solid fa-location-dot"></i>Como llegar a urgencias</a>
                        </div>
                </div>
                <div class="card text-center mb-3 bg-primary col-3 border border-0" style="width: 18rem;">
                        <div class="card-body">
                                <h5 class="card-title text-light p-1 border-bottom border-2 border-danger">Horario de consultas</h5>
                                <h6 class="text-info mb-0">Lunes a Viernes:</h6>
                                <p class="card-text text-light">9h a 21h</p>
                                <h6 class="text-info mb-0">Sábados:</h6>
                                <p class="card-text text-light">9h a 14h</p>
                                <a href="#" class="btn btn-info text-light btn-grow "><i class="fa-solid fa-phone"></i> ( 958 267 232 )</a>
                        </div>
                </div>
                <div class="card text-center mb-3 bg-primary col-3 border border-0" style="width: 18rem;">
                        <div class="card-body">
                                <h5 class="card-title text-light p-1 border-bottom border-2 border-danger">Tienda físicas y online</h5>
                                <h6 class="text-light">24h / 365 días del año </h6>
                                <p class="card-text text-light m-3">¡ Todo lo que necesitas al mejor precio !</p>
                                <a href="#" class="btn btn-info text-light btn-grow mt-4"><i class="fa-solid fa-cart-shopping"></i> Tienda Online</a>
                        </div>
                </div>
        </div>
</div>