<!-- your html code here -->
<div class="container-fluid p-2 row d-flex align-items-center bg-white">
    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center imgServices ">
        <img class="rounded-circle  w-75 ratio ratio-1x1 border border-3 border-info"
            src="https://hips.hearstapps.com/hmg-prod/images/grumpy-cat-gatos-internet-meme-1582125875.jpg?crop=0.663xw:1.00xh;0.169xw,0&resize=1200:*"
            alt="">
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12 ">
        <h2 class=" text-primary">Servicio especializado</h2>
        <h2 class="text-info">En nuestras clínicas
            encontrarás los servicios
            que tu mascota necesita:</h2>
        <p>Medicina preventiva, medicina general, análisis clínicos, cirugía, cuidados dentales, enfermedades
            vectoriales
            revision geriatrica, identificacion de mascotas, peluqueria, esterilizacion, Leishmania, exoticos...
        </p>
    </div>
</div>