<!-- your html code here -->
<div class="position-relative text-center">
    <div class="ratio ratio-16x9 w-100 h-100">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/070/111/148/small/a-cat-in-a-doctor-s-coat-sitting-at-a-desk-free-photo.jpg" class="img-fluid w-100 h-75">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
        <h1 class="display-3 fw-bold text-primary bg-white  w-100 py-2 ">
          VETERINARIA 4 GATOS
        </h1>
        <p class="lead text-info fw-bolder bg-white  w-100 py-2 ">
             Servicio 24H por nuestros mejores especialistas felinos.
        </p>
        
    </div>

</div>  